
@media screen and (max-width:1024px){

    /*Header*/
    /*Home*/

    /*About-us*/

    /*Service*/
    /*Gallery*/
    /* #gallery{
      display: flex;
      flex-direction: column;
      display:none;
    }

    #slike1 img{
      display: flex;
      flex-direction: row;
      width:700px;
      height:550px;
  }
  #slike2 img{
    display: flex;
    flex-direction: row;
    width:700px;
    height:550px;
}
  
    } */
    /*Contact*/
    /*Footer*/

  }
@media screen and (min-width:768px) and (max-width:1023px){

    /*Header*/
    nav ul{
        position: absolute;
        top:66px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 15px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
    
    /*Home*/
    .slide{
        width:100%;
    }
    .info p,h2{
        position: relative;
        right:17%

    }
    
    /*About-us*/
    #about{
        width:100%;
        height:500px;
    }
    .slika-about{
        display: none;
    }
    .tekst-about{
       width:80%;
    }
    /*Service*/
    .card h2{
        margin-left:100px;
    }
    /*Gallery*/
    #gallery{
        height:4600px;
        width:100%;
    }
    #slike1{
        width:75%;
        height:50%;
        display: flex;
        margin: 0px auto;
        flex-direction: column;

    }
    #slike1 img{
        width:90%;
        height:20%;
    }
    #slike1 img:hover{
        width:95%;
        height:22%;
    }
    #slike2{
        width:75%;
        height:50%;
   
        display: flex;
        margin: 0px auto;
        flex-direction: column;
    }
    #slike2 img{
        width:90%;
        height:20%;
    }
    #slike2 img:hover{
        width:95%;
        height:22%;
    }
    #dots{
        display: none;
    }
    #load-more{
        display: none;
        
    }
   
    /*Contact*/
    #contact{
        width:100%;
        display: flex;
        flex-direction: column;
        height:1250px;
    }
    .container{
        width:80%;
        margin-top:50px;
    }
    #form{
        width:100%;
    }
    .contact1{
        width:80%;
        margin-bottom:50px;
    }
    /*Footer*/
    /*Author*/
    #autor{
        width:900px;
    }
}
@media screen and (max-width:767px) {

    /*Header*/
    nav ul{
        position: absolute;
        top:66px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 15px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
    /*Home*/
    .info p,h2{
        position: relative;
        right:27%

    }
    .navigation{
        position: absolute;
        right:11%;
    }
    /*About-us*/
    #about{
        height:520px;
        width:100%;
    }
    .slika-about{
        display: none;
    }
    .tekst-about{
        position:absolute;
        right:4%;
        width:90%;
    }
    /*Service*/
    .card h2{
        width:300px;
        margin-left:230px;
    }
    #service{
        width:100%;
    }
    .wrapper .carousel{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((90% / 2) - 30px);
        overflow-x:auto;
        scroll-snap-type: x mandatory;
        gap: 5px;
        border-radius: 8px;
        scroll-behavior: smooth;
        scrollbar-width: none;
        margin-left:45px;
      }
      #left{display: none;}
      #right{
        position: relative;
        right:50%;
      }
      .card{
        width:70%;
        display: flex;
        justify-content: center;
      }
    /*Gallery*/
    #gallery{
        height:4650px;
        width:100%;display: flex;
        align-items: flex-start;
    }
#slike1 img{
    display: flex;
    flex-direction: column;
    width:670px;
    height:550px;
    margin-right:50px;
  }
#slike1 img:hover{
    width:690px;
    height:600px;
    transition: width 1s, height 1s;
  }
#slike2 img{
    display: flex;
    flex-direction: column;
    width:670px;
    height:550px;
  }
#slike2 img:hover{
    width:690px;
    height:600px;
    transition: width 1s, height 1s;
  }
#dots{
    display: none;
}
#load-more{
    display: none;
}
    
    /*Contact*/
    #contact{
        display: flex;
        flex-direction: column;
        height:1400px;
    }
    .container{
        margin-top:50px;
        position:relative;
        right:23%
    }
    #form{
        width:580px;
    }
    .contact1{
        margin-bottom:50px;
        position:relative;
        left:3%;
    }
    /*Footer*/
    /*Author*/
    #autor{
        display: flex;
        flex-direction: column;
        height:1200px;
        margin-top: 50px;
        width:100%;
    }
    #author{
        height:1350px;width:100%;
    }
    .slika-autor img{
        position: relative;
        left:20%;
        top:3%;
    }
    .tekst-autor{
        position: relative;
        width:80%;
        left:6%;
    }
}
