
@media screen and (max-width:1024px){

    /*Header*/
    /*Home*/

    /*About-us*/

    /*Service*/
    /*Gallery*/
    /* #gallery{
      display: flex;
      flex-direction: column;
      display:none;
    }

    #slike1 img{
      display: flex;
      flex-direction: row;
      width:700px;
      height:550px;
  }
  #slike2 img{
    display: flex;
    flex-direction: row;
    width:700px;
    height:550px;
}
  
    } */
    /*Contact*/
    /*Footer*/

  }
@media screen and (min-width:768px) and (max-width:1023px){

    /*Header*/
    nav ul{
        position: absolute;
        top:66px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 15px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
    
    /*Home*/
    .slide{
        width:1023px;
    }
    .info p,h2{
        position: relative;
        right:17%

    }
    
    /*About-us*/
    #about{
        height:500px;
    }
    .slika-about{
        display: none;
    }
    .tekst-about{
        position:absolute;
        left:10%;
    }
    /*Service*/

    /*Gallery*/
    #gallery{
        height:4650px;
    }
    #slike1 img{
        display: flex;
        flex-direction: column;
        width:700px;
        height:550px;
    }
    #slike1 img:hover{
        width:750px;
        height:600px;
        transition: width 1s, height 1s;
    }
    #slike2 img{
        display: flex;
        flex-direction: column;
        width:700px;
        height:550px;
    }
    #slike2 img:hover{
        width:750px;
        height:600px;
        transition: width 1s, height 1s;
    }
    #dots{
        display: none;
    }
    #load-more{
        display: none;
    }
   
    /*Contact*/
    #contact{
        display: flex;
        flex-direction: column;
        height:1400px;
    }
    .container{
        margin-top:50px;
        position:relative;
        right:10%
    }
    #form{
        width:580px;
    }
    .contact1{
        margin-bottom:50px;
        position:relative;
        left:15%;
    }
    /*Footer*/
    /*Author*/
    #autor{
        width:900px;
    }
}
@media screen and (max-width:767px) {

    /*Header*/
    nav ul{
        position: absolute;
        top:66px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 15px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
    /*Home*/
    .info p,h2{
        position: relative;
        right:27%

    }
    .navigation{
        position: absolute;
        right:11%;
    }
    /*About-us*/
    #about{
        height:500px;
        width:700px;
    }
    .slika-about{
        display: none;
    }
    .tekst-about{
        position:absolute;
        right:3%;
    }
    /*Service*/
    .card h2{
        width:300px;
        margin-left:230px;
    }
    /*Gallery*/
    #gallery{
        height:4650px;
    }
#slike1 img{
    display: flex;
    flex-direction: column;
    width:700px;
    height:550px;
  }
#slike1 img:hover{
    width:750px;
    height:600px;
    transition: width 1s, height 1s;
  }
#slike2 img{
    display: flex;
    flex-direction: column;
    width:700px;
    height:550px;
  }
#slike2 img:hover{
    width:750px;
    height:600px;
    transition: width 1s, height 1s;
  }
#dots{
    display: none;
}
#load-more{
    display: none;
}
    
    /*Contact*/
    #contact{
        display: flex;
        flex-direction: column;
        height:1400px;
    }
    .container{
        margin-top:50px;
        position:relative;
        right:10%
    }
    #form{
        width:580px;
    }
    .contact1{
        margin-bottom:50px;
        position:relative;
        left:20%;
    }
    /*Footer*/
    /*Author*/
    #autor{
        display: flex;
        flex-direction: column;
        height:1200px;
        margin-top: 50px;
        width:100%;
    }
    #author{
        height:1350px;width:100%;
    }
    .slika-autor img{
        position: relative;
        left:20%;
        top:3%;
    }
    .tekst-autor{
        position: relative;
        width:80%;
        left:6%;
    }
}
