*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*NAVIGACIJA*/

nav{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1f242d;
  position: fixed;
  height: 67px;
  top:0;
  width: 100%;
  z-index: 999;
}

.logo a{ 
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  margin-left:20px;
}

nav ul{
  display: flex;
  gap: 30px;
  align-items: center;
}

nav ul li{
  list-style-type: none;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  margin-right:20px;
}

.menu-icon{
  display: none;
}

.menu-icon i{
  color: #fff;
  font-size: 30px;
}
nav a:hover{
  color:#3498db;
}
nav a.active{
  color:#3498db;
}
nav a.drugaStrana {
  padding:15px;
  background: #3498db;
}
a.drugaStrana:hover{
  color:black;
}
.logo1:hover{
  color:white;
}

/*SECTION*/

section{
  min-width: 100vh;
  height:800px;
  display:flex;
  justify-content: center;
  align-items: center;
}

/*HOME*/

#home {
  margin-top: 67px;
  background-color:black;
  height:870px;
}
.img-slider{
  position:relative;
  width:100%;
  height:100%;
}
.img-slider .slide{
  z-index: 1;
  position:absolute;
  width:100%;
  clip-path: circle(0% at 0 50%); 
}
.img-slider .slide.active1{
  clip-path: circle(150% at 0 50%); 
  transition: 2s;
  transition-property: clip-path;
}
.img-slider .slide img{
  z-index:1;
  width:100%;
  height:970px;
  border-radius:5px;
  padding-bottom:100px;
  opacity: 0.5;
}
.img-slider .slide .info{
  position:absolute;
  top:30%;
  left:34%;
  padding:15px 30px;
}
.img-slider .slide .info h2{
  color:#fff;
  font-size:65px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 10px;
  opacity:0.9;
}
.img-slider .slide .info p{
  color:#f0f0f0;
  font-size:26px;
  width:95%;
  padding:10px;
  border-radius:4px;
  opacity:0.9;
  margin-top:10px;
}
.img-slider .navigation{
  z-index: 2;
  position:absolute;
  display:flex;
  bottom:30px;
  left:50%;
  transform: translateX(-50%);
}
.img-slider .navigation .btn{
  background: #fff;
  width:12px;
  height:12px;
  margin:10px;
  border-radius: 50%;
  opacity:0.9;
  cursor:pointer;
}
.img-slider .navigation .btn.active1{
  background: #3498db;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

/*ABOUT US*/

.naslov{
  height:50px;
  margin-top: 40px;
}
.naslov h1{
  width: 70%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin:0px auto;
  font-size:35px;
} 

.naslov h1 span{ 
   background:#fff; 
   padding:0 10px; 
}
section{
  background: #0f2027;
}
#about{
  color:black;
  display: flex;
  align-content: space-around;
  height:750px;
}
.slika-about img{
  margin-top:20px;
   clip-path: polygon(0% 0%, 92% 0, 100% 50%, 92% 100%, 0% 100%);
}
.tekst-about{
  display:flex;
  flex-direction: column;
  width:700px;
  height:450px;
  background:whitesmoke;
  margin-left:50px;
  border-bottom-right-radius: 20%;
  font-size:20px;
}
.tekst-about p{
  font-size:16px;
  margin:50px 30px 0px 30px;
  text-align:justify;
  line-height: 23px;
}
.tekst-about h3{
  font-size:30px;
  text-align:center;
  margin-top:40px;
} 
  .more {
  display : none;
  }
  .more p{
    margin:0px 30px 0px 30px;
  }
  .rdmore{
  margin : 50px 0px 0px 30px;
  padding : 10px;
  font-size : 18px;
  display : block;
  cursor : pointer;
  color: #000;
  font-size: 19px;
  }

/*-------------------SERVICE------------------*/

#service{
  height:750px;
  background: yellow;
}
.wrapper {
  max-width: 1400px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 500px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #3498db;
  height: 220px;
  width: 220px;
  border-radius: 50%;
}
.card .img img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.70rem;
  /* margin: 30px 0 5px; */
  margin-top:50px;
  color:#3498db
}
.carousel .card span {
  color: #6A6D78;
  margin-top:15px;
  font-size: 1.50rem;
}
.card p{
  font-size: 1.15rem;
  color:black;
  margin:20px 17px;
  text-align: center;
}
.card:hover{
  background-color:#f0f0f0;
  opacity:0.5;
}

/*---------------------GALLERY------------------------*/

#gallery{
  width:100%;
  height:860px;
  display: flex;
  flex-direction: column;
}
#gallery img{
  width:370px;
  height:320px;
  margin:20px;
  border:2px solid #fff;
}
#gallery img:hover{
  width:390px;
  height:340px;
  opacity: 0.7;
  transition: width 1s, height 1s;
}

#more {
  display: none;
}
#dots{
  font-weight: bold;
  font-size: 32px;
}
#load-more{
  height: 30px;
  width: 100px;
  text-align: center;
  background-color: #fff;
  font-size:15px;
  color:black;
  padding-top:5px;
}
#load-more:hover{
  cursor: pointer;
}

/*------------------------CONTACT----------------------------------------------*/

#contact{
  background-color: #0f2027;
  display:flex;
  justify-content: space-between;
  height:700px;
}
.container{
  width:800px;
  height:630px;
  display: flex;
  justify-content: end;
}
#myBtn {
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: #3498db;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
#form {
  width: 550px;
  height:100%;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 14px;
}

#form h1 {
  color: black;
  font-weight: bold;
  font-size:25px;
  text-align: center;
  margin-bottom: 15px;
  margin-top:10px;
}

#form button {
  padding: 10px;
  margin-top: 30px;
  width: 100%;
  height:50px;
  color: white;
  border: none;
  border-radius: 4px;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
border: 2px solid #f0f0f0;
border-radius: 4px;
display: block;
font-size: 18px;
padding: 10px;
width: 100%;
height:45px;;
margin-top:10px;
}
label{
  margin-top:25px;
  color:black;
}
.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}
#service{
  background: #1f242d;
}
.error{
  margin-top: 2px;;
  font-size:15px;
}
.contact1{
  width:580px;
  height:630px;
  margin-right:250px;
  background: whitesmoke;
  border-radius: 5px;
}
.icon{
  font-size:18px;
  color:black;
  margin-top:70px;
  display: flex;
  width:400px;
  height:35px;
  letter-spacing: 1px;
}
.icon i{
  font-size:30px;
  margin-left: 40px;
  margin-top:2px;
}
i:hover{
  color:#3498db
}
.icon p{
  margin-left: 25px;
  margin-top:4px;
}
.icon1{
  font-size:18px;
  color:black;
  margin-top:40px;
  height:130px;
  width:450px;
  margin-left:100px;
  
}
table,tr,td,th{
  border: 1px solid black;
  border-collapse:collapse;
  padding:7px;
}
table{
  margin-top:20px;
  margin-left:10px;
}
.icon1 p{
  padding-top: 10px;
  font-size:23px;
  margin-left: 100px;
}
.contact1 hr{ 
  display: block;
  width:400px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  margin-top:15px;
} 

/*------------------FOOTER----------------------------*/

footer{
  color:white;
  background: black;
  width:100%;
  height:50px;
  display:flex;
  justify-content:space-around;
}
.copyright{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:200px;
}
.copyright p{
  margin-top:5px;
}
.ikonice, .copyright{
  margin-top:15px;
}
.ikonice{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:250px;
  text-align: center;
}
.ikonice li , a{
  text-decoration: none;
  list-style-type: none;
  color: whitesmoke;
  margin-top: 5px;
}
.ikonice li a:hover{
  color:#3498db;
}
.fa-facebook{
  width:25px;
  height:25px;
  background: blue;
  padding-top:5px ;
}
.fa-twitter{
  width:25px;
  height:25px;
  background: #3498db;
  padding-top:5px ;
}
.fa-instagram{
  width:25px;
  height:25px;
  background: linear-gradient(#e66465, #9198e5);;
  padding-top:5px ;
 
}
.fa-facebook:hover{
  color:white;
  width:30px;
  height:30px;
  transition: width 1s, height 1s;
  padding-top:8px;
  transition:padding-top 1s;
}
.fa-twitter:hover{
  color:white;
  width:30px;
  height:30px;
  transition: width 1s, height 1s;
  padding-top:8px;
  transition:padding-top 1s;
}
.fa-instagram:hover{
  color:white;
  width:30px;
  height:30px;
  transition: width 1s, height 1s;
  padding-top:8px;
  transition:padding-top 1s;
}

/* AUTHOR.HTML*/

#autor{
  background: #1f242d;
  margin:0px auto;
  width:1120px;
  height:560px;
  display: flex;
  justify-content: space-between;
}
.slika-autor{
  width:500px;
  height:500px;
  margin:30px;
}
.slika-autor img{
  width:100%;
  height:100%;
  border-radius: 20px;
  border: 2px solid #fff;
  
}
.tekst-autor{
  width: 500px;
  height:500px;
  background: whitesmoke;
  margin:30px 30px 30px;
  color:black;
  text-align: justify;
  border-radius: 20px;
  border: 2px solid black;
}
.tekst-autor h3{
  font-size: 30px;
  text-align: center;
  margin-top:40px;
}
.tekst-autor p{
  font-size: 20px;
  margin:50px 20px 0 20px;
  line-height: 35px;
}

/*SCROLLER TO TOP*/

#myBtn1 {
  bottom: 20px;
  position: fixed;
  right: 30px;
  z-index:2;
  font-size: 18px;
  border: none;
  outline: none;
  background: #3498db;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px 0;
  opacity: 0.7;

}

#myBtn1:hover {
  background-color: #555;

}